<div class="lock-modal-wrap">
  <div class="modal-header card-lock-modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
  </div>
  <div class="modal-body card-lock-modal-body">
    <h4>Your card is now locked</h4>
    <p>To re-activate your card, click “unlock” at the lock option</p>
  </div>
  <div class="modal-footer card-lock-modal-footer">
    <button type="button" class="btn btn-primary btn-cancel" (click)="onClose()">Close</button>
  </div>
</div>
