<div class="page-wrapper bg-light">
  <div class="login--form resetPassword m-auto vh-100 d-flex align-items-center">
    <div class="card--custom m-auto w-100" [class.animate]="isAnimate">
      <div class="logo justify-content-center d-flex mb-4 mt-2">
        <a href="#" class="logo text-center logo-light">
          <span class="logo-lg">
            <img src="assets/dist/img/logo.svg" alt="" height="31" />
          </span>
        </a>
      </div>
      <form name="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" #f="ngForm">
        <div
          class="form-group"
          [class.not-in-focus]="isSubmitted || passwordFieldFocusOut"
          (focusin)="passwordFieldFocusOut = false"
          (focusout)="passwordFieldFocusOut = true"
        >
          <label for="newPassword" class="form-label">Password</label>
          <input
            [attr.type]="passwordType"
            class="form-control"
            id="newPassword"
            placeholder=""
            autofocus
            formControlName="newPassword"
            name="newPassword"
            (focus)="focused()"
          />

          <ng-container *ngIf="(NewPassword?.touched || NewPassword?.dirty) && NewPassword?.invalid">
            <app-input-error [errors]="NewPassword?.errors"></app-input-error>
          </ng-container>

          <ng-container *ngIf="NewPassword?.value">
            <div class="password-action-wrap">
              <ng-container *ngIf="passwordType === 'text'">
                <span class="show_icon" (click)="ShowPassword(true)"
                  ><i class="fa fa-eye-slash" aria-hidden="true"></i
                ></span>
              </ng-container>

              <ng-container *ngIf="passwordType === 'password'">
                <span class="hide_icon" (click)="ShowPassword(false)"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></span>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div
          class="form-group"
          [class.not-in-focus]="isSubmitted || confirmPasswordFieldFocusOut"
          (focusin)="confirmPasswordFieldFocusOut = false"
          (focusout)="confirmPasswordFieldFocusOut = true"
        >
          <label for="newPassword" class="form-label">Confirm Password</label>
          <input
            [attr.type]="confirmPasswordType"
            class="form-control"
            id="confirmNewPassword"
            placeholder=""
            name="confirmNewPassword"
            formControlName="confirmNewPassword"
            (focus)="confirmedFocused()"
          />

          <ng-container
            *ngIf="(ConfirmNewPassword?.touched || ConfirmNewPassword?.dirty) && ConfirmNewPassword?.invalid"
          >
            <ng-container *ngIf="ConfirmNewPassword?.errors?.required">
              <div class="input-group col-12">
                <span class="error invalid-feedback" style="display: block">Confirm Password is required</span>
              </div>
            </ng-container>
            <ng-container *ngIf="ConfirmNewPassword?.errors?.mismatch">
              <div class="input-group col-12">
                <span class="error invalid-feedback" style="display: block">Confirm Password not match</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!ConfirmNewPassword?.errors?.required && !ConfirmNewPassword?.errors?.mismatch">
              <app-input-error [errors]="ConfirmNewPassword?.errors"></app-input-error>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="ConfirmNewPassword?.value">
            <div class="password-action-wrap">
              <ng-container *ngIf="confirmPasswordType === 'text'">
                <span class="show_icon" (click)="ShowConfirmPassword(true)"
                  ><i class="fa fa-eye-slash" aria-hidden="true"></i
                ></span>
              </ng-container>
              <ng-container *ngIf="confirmPasswordType === 'password'">
                <span class="hide_icon" (click)="ShowConfirmPassword(false)"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></span>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <!-- new -->
        <button type="submit" [disabled]="isLoading" class="btn w-50 float-end btn-primary mt-3">
          <span *ngIf="!isLoading">Submit</span>
          <div class="loader" *ngIf="isLoading">
            <img src="assets/dist/img/rolling-loader.svg" alt="" />
          </div>
        </button>
      </form>
    </div>
  </div>
</div>
