<div class="modal-header justify-content-end pb-0">
  <button type="button" class="close" aria-label="Close" (click)="closePopup()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-wrap">
    <h4>Tutorial: integrate with account number</h4>
    <p class="mw-100 text-start">
      If you never used yet your selected processing merchant, then complete <em>'step 1'</em> and you will receive an
      email notifying you about the newly opened account. Copy from the email your Matbia account # found on top and
      proceed to the next step.
    </p>
    <p class="mw-100 text-start mb-0">
      If you already used a selected merchant, and it has not yet been integrated to your current account.
    </p>
    <ul class="mt-4">
      <li>Check your emails if you ever received it and locate there your account number or;</li>
      <li>Please contact customer service to get your account number created from your selected merchant.</li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary text-center w-100" (click)="closePopup()">CLOSE</button>
</div>
