<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Matbia Terms of Service</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
  </div>
  <div class="modal-body">
    <h6>By agreeing to these terms of service, you</h6>

    <section (click)="closePopup()">
      <ul>
        <li>
          Hereby request that Matbia Services Inc. open a donor-advised fund account ("Account") which will constitute a
          donor-advised fund of Matbia Charities A NJ Nonprofit Corporation (Matbia Services Inc. and Matbia Charities A
          NJ Nonprofit Corporation are collectively referred to as “Matbia”.)
        </li>

        <li>
          Have read and agree to be bound by the terms of Matbia's Program Policies (the "Program Policies") as
          currently in effect and as amended from time to time.
        </li>

        <li>Have, specifically, read and agree to all Fees and Expenses as described in the Program Policies.</li>

        <li>
          Understand that any contribution, once accepted by Matbia Charities A NJ Nonprofit Corporation, represents an
          irrevocable contribution to Matbia Charities A NJ Nonprofit Corporation and is not refundable to me for any
          reason. Incoming stock contributions for Accounts are typically sold promptly upon receipt, but Matbia may
          sell securities at any time.
        </li>

        <li>
          Understand that I may make recommendations concerning the investments in the Account, as well as recommending
          grants to charitable organizations from the Account. While Matbia will give careful and thoughtful
          consideration to all such recommendations, I understand that final decisions concerning the investment of
          Account assets and all grants from the Account will be made by Matbia. I further understand that no
          recommended grants from the Account may be used to discharge or satisfy a charitable pledge or obligation that
          is legally enforceable against me or any other person, or to pay for goods or services of value or any other
          private benefit received by me or any other person affiliated with me*.
        </li>

        <li>
          Understand that if there is more than one Account Holder on the Account, each Account Holder has authority,
          acting individually and without notice to any other Account Holder, to deal with Matbia as fully and
          completely as if the Account Holder were the sole Account Holder and may make any changes to the Account
          (except to remove other Account Holders).
        </li>

        <li>
          IN CASE OF ERRORS OR DISCREPANCIES: If I find any errors or omissions relating to my Matbia Account, I must
          call Matbia immediately at 877-762-8242. I will notify Matbia no later than 10 days after the relevant
          communications are sent or made available to me. I understand that Matbia will not be liable for any losses
          that occur because of my failure to promptly notify Matbia of an error.
        </li>

        <li>
          Certify that, to the best of my knowledge, all information represented in connection with this application is
          accurate, and I will promptly notify Matbia in writing of any changes.
        </li>

        <li>
          <strong>Payment Terms.</strong> By submitting the transaction, you authorize Matbia to debit your bank
          account/debit card or charge your credit card for the total amount and date shown.
        </li>
        <li>
          <strong>Recurring Terms and Conditions.</strong> Please read the following Recurring (“Recurring”) Terms and
          Conditions. They describe the terms you agree to with regard to recurring payments you make to Matbia. These
          Recurring Terms and Conditions may be updated at any time, and changes become binding once posted to the
          Matbia website. If you have elected to enroll in Recurring, you authorize Matbia to automatically debit your
          bank account/debit card or charge your credit card, on a recurring basis no earlier than 2 days before your
          entered the recurring date until you terminate your authorization online at Matbia.org or by call Matbia to
          store your payment method for future payments by you and any verified users on the account. The amount of each
          monthly recurring payment will be the full monthly payment reflected on your monthly payment request. If you
          find a billing error and notify Matbia at least 4 days before your monthly payment is due, we will attempt to
          correct the error before the next recurring payment. Also, if you sign up for, cancel or make changes to the
          recurring payment 2 days or less before the payment due date, the change may not take effect until the
          following payment cycle. Otherwise, we will automatically debit/charge the amount reflected on your monthly
          request. After terminating your authorization, you will be responsible for scheduling payments for subsequent
          monthly charges. You also authorize Matbia to credit your bank account/card in the appropriate amount for any
          refunds or other billing adjustments.
        </li>

        <li>
          <strong>Additional Payment Terms and Conditions.</strong> If you are signing on behalf of a corporate,
          organizational or governmental entity, you represent and warrant that you are authorized to sign on behalf of
          such entity and the information you are using was established for business purposes. MATBIA SHALL BEAR NO
          LIABILITY OR RESPONSIBILITY FOR ANY LOSSES OF ANY KIND THAT YOU MAY INCUR AS A RESULT OF AN ERRONEOUS
          STATEMENT, ANY DELAY IN THE ACTUAL DATE ON WHICH YOUR ACCOUNT IS DEBITED OR YOUR FAILURE TO PROVIDE ACCURATE
          AND/OR VALID PAYMENT INFORMATION.
        </li>

        <li>
          <strong>Electronic Fund Transfers (EFTs) and Account Balances.</strong> Matbia partners <br />
          with financial services software company ACHQ Inc. (ACHQ) and banking to offer <br />
          you electronic fund transfers (EFTs). By creating a Matbia account and initiating bank deposits or
          withdrawals,
          <br />
          you agree to ACHQ’s privacy policy,
          <a href="https://achq.com/privacy/" target="_blank"> https://achq.com/privacy/</a>,
          <br />
          and ACHQ’s terms of service,
          <a href="https://achq.com/terms/" target="_blank">https://achq.com/terms/</a>
          <br />
          You must comply with the Partner Terms when creating or <br />
          using your Account. The Partner <br />Terms may be modified from time to time, and the governing versions are
          <br />
          incorporated by reference into these Terms of Service or the Program Policies. Any term not defined in this
          section but defined in the Partner Terms assumes the meaning as defined in the Partner Terms. IT IS YOUR
          RESPONSIBILITY TO READ AND UNDERSTAND THE PARTNER TERMS BECAUSE THEY CONTAIN TERMS AND CONDITIONS CONCERNING
          YOUR MATBIA ACCOUNT, INCLUDING BUT NOT LIMITED TO LIMITATIONS, REVERSALS, AND ARBITRATION PROVISIONS, AND YOUR
          RELEVANT RIGHTS AND LIABILITIES.
        </li>

        <li>Matbia Charites Inc. is a 501(c)(3) independent, public charity.</li>
        <li>For any failed bank deposits, a $20 fee will be applied to cover processing costs.</li>
      </ul>
      <p>
        * "Persons affiliated with me" includes your spouse, ancestors’ parents, children, grandchildren,
        great-grandchildren, brothers and sisters, as well as spouses of your children, grandchildren,
        great-grandchildren, brothers, and sisters. It also includes certain entities in which you or your family
        members own an interest. See the Program Policies for additional information.
      </p>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">Close</button>
  </div>
</div>
