<div class="t-row">
  <div class="td-div div-18 time-div">
    <p>09/08/2023 05:30 AM</p>
  </div>
  <div class="td-div div-16 donor-div">Gimpel Teitelbaum</div>
  <div class="td-div div-12 types-div">Donation</div>
  <div class="td-div div-12 status-div"><span class="light-text">Unbatched</span></div>
  <div class="td-div div-12 amount-div"><b>$813.81</b></div>
  <div class="td-div div-12 fee-div">-$3.81</div>
  <div class="td-div div-12 balance-div">$45.00</div>
  <div class="td-div action-div">
    <button
      class="btn-arrow fas fa-chevron-down"
      type="button"
      data-bs-toggle="collapse"
      aria-expanded="false"
    ></button>
  </div>
</div>
