<div class="modal-header">
  <h3 class="modal-title">Email already exists</h3>
  <a class="modal-close" href="javascript:void(0)" (click)="closePopup()">
    <svg xmlns="http://www.w3.org/2000/svg" width="13.423" height="13.426" viewBox="0 0 13.423 13.426">
      <path
        id="Icon_ionic-ios-close"
        data-name="Icon ionic-ios-close"
        d="M8.3,6.711l4.8-4.8A1.124,1.124,0,0,0,11.51.327l-4.8,4.8L1.92.327A1.124,1.124,0,1,0,.33,1.916l4.8,4.8-4.8,4.8A1.124,1.124,0,0,0,1.92,13.1l4.8-4.8,4.8,4.8A1.124,1.124,0,0,0,13.1,11.507Z"
        transform="translate(0 13.426) rotate(-90)"
        opacity="0.303"
      />
    </svg>
  </a>
</div>
<div class="modal-body d-flex flex-column justify-content-center text-center">
  <i class="mx-auto">
    <svg xmlns="http://www.w3.org/2000/svg" width="31.336" height="31.336" viewBox="0 0 31.336 31.336">
      <g
        id="Icon_ionic-md-information-circle-outline"
        data-name="Icon ionic-md-information-circle-outline"
        transform="translate(-3.375 -3.375)"
      >
        <path
          id="Path_17626"
          data-name="Path 17626"
          d="M19.043,6.539A12.5,12.5,0,1,1,10.2,10.2a12.452,12.452,0,0,1,8.843-3.661m0-3.164A15.668,15.668,0,1,0,34.711,19.043,15.666,15.666,0,0,0,19.043,3.375Z"
          fill="#efa228"
        />
        <path
          id="Path_17627"
          data-name="Path 17627"
          d="M19.687,26.355H16.523V16.94h3.164Zm0-12.5H16.523V10.688h3.164Z"
          transform="translate(0.938 0.521)"
          fill="#efa228"
        />
      </g>
    </svg>
  </i>
  <small>{{ email }} already exists on another account. Login to your account to activate your card.</small>
</div>
<div class="modal-footer border-0 pt-0 d-flex flex-column gap-3">
  <button class="btn btn-primary w-100" (click)="goToLogin()">Take me to login</button>
  <button class="btn btn-light w-100" (click)="continueWithNewAccount()">I want to continue with a new account</button>
</div>
