<div class="small-deposite-modal">
  <div class="close-icon"><span></span></div>
  <div class="img-deposite">
    <img src="assets/dist/img/icon-deposite.png" alt="" />
  </div>
  <div class="info-deposite">
    <p>We deposited 2 small temporary amounts into your bank account.</p>
    <div class="deposite-box">
      <span>Please verify the amounts.</span>
      <div class="inside-deposite">
        <label>DEPOSIT 1:</label>
        <input type="text" placeholder="$0.00" />
      </div>
      <div class="inside-deposite">
        <label>DEPOSIT 2:</label>
        <input type="text" placeholder="$0.00" />
      </div>
      <div class="deposite-btn">
        <button class="btn btn-primary">VALIDATE ACCOUNT</button>
      </div>
    </div>
  </div>
</div>
