<ng-container *ngIf="!isCardRequested">
  <ng-template [ngTemplateOutlet]="requestCardTmp"></ng-template>
</ng-container>

<ng-container *ngIf="isCardRequested">
  <ng-template [ngTemplateOutlet]="requestedCardTmp"></ng-template>
</ng-container>

<ng-template #requestCardTmp>
  <div class="send-card d-flex align-items-center flex-column">
    <div class="send-top">
      <img src="assets/dist/img/matbia-send-card.png" alt="Send Card" />
      <div class="send-address-detail">
        <h5 class="send-head">We will send your card to:</h5>
        <h4 class="send-address">
          {{ Name?.value }}
          <br />
          {{ DisplayAddress }}
        </h4>
        <button class="edit-link edit-link-light" (click)="open()" [disabled]="isLoading">
          <app-button-loader [loading]="isLoading" label="Edit Address"></app-button-loader>
        </button>
      </div>
      <button class="btn btn-primary" (click)="onRequest()" [disabled]="isLoading">
        <app-button-loader [loading]="isLoading" label="SEND ME A CARD"></app-button-loader>
      </button>
    </div>
    <div class="send-bottom">
      <p class="send-card-already">Do you have a card already?</p>
      <div (click)="ActivateCard()" class="edit-link">ACTIVATE YOUR CARD</div>
    </div>
  </div>
</ng-template>

<ng-template #requestedCardTmp>
  <div class="newcard-request d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <h2>Your new card is on it’s way!</h2>
          <h4>Expect your card in the mail within 5-7 business days</h4>
          <div class="sending-detail">
            <h6 class="sending-head">We’re sending your new card to:</h6>
            <p>
              {{ Name?.value }}<br />
              {{ DisplayAddress }}
            </p>
          </div>
          @if(toShowCloseButton){
          <button (click)="getCardsRouterLink()" class="btn btn-primary" [disabled]="isLoading">
            <app-button-loader [loading]="isLoading" label="CLOSE"></app-button-loader>
          </button>
          }@else{ @if(showContinueButton){
          <button (click)="continue()" class="btn btn-primary" [disabled]="isLoading">
            <app-button-loader [loading]="isLoading" label="CONTINUE"></app-button-loader>
          </button>
          }@else {
          <button (click)="proceedToPortal()" class="btn btn-primary" [disabled]="isLoading">
            <app-button-loader [loading]="isLoading" label="PROCEED TO PORTAL"></app-button-loader>
          </button>
          } }
        </div>
        <div class="col-md-7">
          <img src="assets/dist/img/new-card.png" alt="" class="newcard-img" />
        </div>
      </div>
    </div>
  </div>
</ng-template>
