<div class="need-more-info-modal">
  <div class="img-need-more">
    <img src="assets/dist/img/icon-more-info.png" alt="" />
  </div>
  <div class="info-need-more">
    <p>We need more information to verify your account</p>
  </div>
  <div class="need-more-btn">
    <div class="box">
      <input type="file" id="bank-statement" class="file-btn" /><label for="bank-statement"
        ><span><i class="fa fa-paperclip" aria-hidden="true"></i>ATTACH BANK STATEMENT</span></label
      >
    </div>
    <button class="btn btn-try-again">Try again</button>
  </div>
</div>
