<div class="middle-content cms-page-content">
  <div class="container">
    <h3>Matbia Privacy Policy</h3>

    <p>
      Matbia respects your privacy, and we are committed to protecting it through our compliance with this policy. This
      Privacy Policy describes how your personal information is collected, used, and shared as a client of Matbia Family
      of companies (Matbia Services Inc., Matbia Charities A NJ Nonprofit Corporation) (“Matbia” or “We” or “Us”), or when you visit any part
      of the domain Matbia.org (the “Site[s]”). By accessing or using any of our Sites, you agree to the practices
      regarding your personal information described in this Online Privacy Policy.
    </p>

    <p>This policy applies to information we collect:</p>

    <ul>
      <li>On this Site.</li>
      <li>In email, text, and other electronic messages between you and this Site.</li>
      <li>
        Through mobile and desktop applications you download from this Site, which provide dedicated non-browser-based
        interaction between you and this Site.
      </li>

      <li>
        When you interact with our advertising and applications on third-party websites and services if those
        applications or advertising include links to this policy.
      </li>
    </ul>

    <p>It does not apply to information collected by:</p>

    <ul>
      <li>
        Us offline or through any other means, including on any other website operated by Us or any third party
        (including our affiliates and subsidiaries); or
      </li>

      <li>
        Any third party (including our affiliates and subsidiaries), including through any application or content
        (including advertising) that may link to or be accessible from or on the Site.
      </li>

      <li>
        Please read this policy carefully to understand our policies and practices regarding your information and how we
        will treat it. If you do not agree with our policies and practices, your choice is not to use our Site. By
        accessing or using this Site, you agree to this privacy policy. This policy may change from time to time (see
        Changes to Our Privacy Policy). Your continued use of this Site after we make changes is deemed to be acceptance
        of those changes, so please check the policy periodically for updates.
      </li>
    </ul>

    <h4>Children Under the Age of 13</h4>

    <p>
      Our Site is not intended for children under 13 years of age. No one under age 13 may provide any [personal]
      information to [or on] the Site. We do not knowingly collect personal information from children under 13. If you
      are under 13, do not use or provide any information on this Site [or] [through any of its features,] [register on
      the Site,] [make any purchases through the Site,] [use any of the interactive or public comment features of this
      Site,] [or provide any information about yourself to us, including your name, address, telephone number, email
      address, or any screen name or user name you may use]. If we learn we have collected or received personal
      information from a child under 13 without verification of parental consent, we will delete that information. If
      you believe we might have any information from or about a child under 13, please contact us at
      <a href="mailto:info@matbia.com">info&#64;matbia.com</a> or by phone at 877-762-8242.
    </p>

    <p>
      California residents under 16 years of age may have additional rights regarding the collection and sale of their
      personal information. Please see Your California Privacy Rights for more information.
    </p>

    <h4>Information Collection and Use</h4>

    <h5>Types of information we collect:</h5>

    <h6>Personal Information</h6>

    <p>
      We use the term “Personal Information” to describe information that can be associated with you and can be used to
      identify you or your household. Personal Information does not include information we collect that does not or
      cannot be reasonably used to identify you personally.
    </p>

    <p>
      When you visit any of our Sites, we may collect Personal Information from you such as your name, postal address,
      email address, telephone number, Social Security number, or date of birth, as well as any other information you
      provide to us through our forms, surveys, applications, or similar online fields in connection with providing
      services to you.
    </p>

    <h6>Device Information</h6>

    <p>
      When you visit the Site, we automatically collect certain information about your device, including information
      about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
      Additionally, as you browse the Site, we collect information about the individual web pages or products that you
      view, what websites or search terms referred you to the Site, and information about how you interact with the
      Site. We refer to this automatically collected information as “Device Information.”
    </p>

    <p>We may collect Device Information using the following technologies:</p>

    <ul>
      <li>
        “Cookies” are data files that are placed on your device or computer and often include an anonymous unique
        identifier. For more information about cookies, and how to disable cookies, visit
        <a href="https://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.
      </li>

      <li>
        “Log files” track actions occurring on the Site, and collect data including your IP address, browser type,
        Internet service provider, referring/exit pages, and date/time stamps.
      </li>

      <li>
        “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the
        Site.
      </li>
    </ul>

    <p>
      When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and
      Order Information.
    </p>

    <h6>Financial Information You Share with Us</h6>

    <p>
      If you are using the services of the Matbia you can trust that the Matbia will respect your privacy rights
      according to all applicable Federal and State guidelines. You may have supplied:
    </p>

    <ul>
      <li>Personal information</li>
      <li>Banking or credit card information</li>
      <li>Other sensitive financial information</li>
    </ul>

    <h5>How we use the information we collect</h5>

    <h6>The personal information we collect is used to:</h6>

    <ul>
      <li>Provide the services requested.</li>
      <li>To communicate with you.</li>

      <li>Use during business transactions</li>
      <li>To authenticate your identity to prevent fraud.</li>
    </ul>

    <h6>Additional data can be used in the following ways:</h6>

    <ul>
      <li>
        Screen our orders for potential risk or fraud; and when in line with the preferences you have shared with us,
        provide you with information or advertising relating to our products or services.
      </li>

      <li>
        We use the Device Information that we collect to help us screen for potential risk and fraud (in particular,
        your IP address), and more generally to improve and optimize our Site (for example, by generating analytics
        about how our customers browse and interact with the Site, and to assess the success of our marketing and
        advertising campaigns).
      </li>
    </ul>

    <h6>Sharing your personal information</h6>

    <p>
      We share your Personal Information with third parties to help us use your Personal Information, as described
      above. For example, we use Google Analytics to help us understand how our customers use the Site--you can read
      more about how Google uses your Personal Information here:
      <a href="https://www.google.com/intl/en/policies/privacy" target="_blank"
        >https://www.google.com/intl/en/policies/privacy</a
      >
      . You can also opt-out of Google Analytics here:
      <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener noreferrer"
        >https://tools.google.com/dlpage/gaoptout</a
      >.
    </p>

    <p>
      Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to
      a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
    </p>

    <p>
      Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out
      portal at:
      <a href="http://optout.aboutads.info" target="_blank" rel="noopener noreferrer">http://optout.aboutads.info</a>.
    </p>

    <h6>Do Not Track</h6>

    <p>
      Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal
      from your browser.
    </p>

    <h6>Your Rights</h6>

    <p>
      If you are a European resident, you have the right to access personal information we hold about you and to ask
      that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please
      contact us through the contact information below.
    </p>

    <p>
      Additionally, if you are a European resident, we note that we are processing your information in order to fulfill
      contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our
      legitimate business interests listed above. Additionally, please note that your information will be transferred
      outside of Europe, including to Canada and the United States.
    </p>

    <h4>Your California Privacy Rights</h4>

    <p>
      If you are a resident of the State of California, under the California Consumer Privacy Act (CCPA), you have the
      right to request information on how to exercise your disclosure choice options from companies conducting business
      in California. Specifically:
    </p>

    <ul>
      <li>
        Exercising the Right to Know. You may request, up to twice in a 12-month period, the following about the
        personal information collected on you in the past 12 months:
        <ul>
          <li>the categories and specific pieces of personal information we have collected;</li>

          <li>the categories of sources from which we collected the personal information;</li>

          <li>the business or commercial purpose for which we collected it;</li>

          <li>the categories of third parties with whom we shared the personal information; and</li>

          <li>the categories of personal information about you that we disclosed for a business purpose.</li>
        </ul>
      </li>

      <li>
        Exercising the right to delete. You may request that we delete the personal information we have collected from
        you, subject to certain limitations under applicable law.
      </li>

      <li>
        Exercising the right to opt-out from a sale. You may request to opt out of any “sale” of your personal
        information that may take place.
      </li>

      <li>
        Non-discrimination. The CCPA provides that you may not be discriminated against for exercising these rights.
      </li>
    </ul>

    <p>
      <a href="#" [routerLink]="['/privacy-and-policy-for-california-residents']"
        ><strong>CCPA Privacy Notice for California Residents</strong>
      </a>
    </p>

    <p>
      To submit a request to exercise any of the rights described above, you may contact Matbia either via email to
      <a href="mailto:info@matbia.com">info&#64;matbia.com</a> or contact us via postal mail, proper postage prepaid, at:
      <br />
      Matbia <br />
      Attn: California Privacy Rights <br />
      802 Myrtle Ave Unit #1, Brooklyn, NY 11206.
    </p>

    <p>
      Please indicate your preference as to how you would like us to respond to your request (i.e., email or postal
      mail). All requests sent via postal mail must be labeled “Your California Privacy Rights” on the envelope or
      postcard and clearly stated on the actual request. For all requests, please include your name, street address (if
      you would like a response via postal mail), city, state, and zip code. We may need to verify your identity before
      responding to your request, such as verifying that the email address or contact information from which you send
      the request matches your email address or contact information that we have on file. Authentication based on a
      government-issued and valid identification document may be required. We will not accept requests via telephone or
      fax. We are not responsible for notices that are not labeled or sent properly, or do not have complete
      information.
    </p>

    <h4>Data Security</h4>

    <p>
      We have implemented measures designed to secure your personal information from accidental loss and from
      unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure
      servers behind firewalls. Any payment transactions and other secure information will be encrypted using SSL
      technology.
    </p>

    <p>
      The safety and security of your information also depends on you. Where we have given you (or where you have
      chosen) a password for access to certain parts of our Site, you are responsible for keeping this password
      confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out
      information in public areas of the Site like message boards. The information you share in public areas may be
      viewed by any user of the Site.
    </p>

    <p>
      Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best
      to protect your personal information, we cannot guarantee the security of your personal information transmitted to
      our Sites. Any transmission of personal information is at your own risk. We are not responsible for circumvention
      of any privacy settings or security measures contained on the Sites.
    </p>

    <h5>Data Retention</h5>

    <p>
      When you place an order through the Site, we will maintain your Order Information for our records unless and until
      you ask us to delete this information.
    </p>

    <h5>Electronic Fund Transfers (EFTs) and Account Balances.</h5>

    <p>
      Matbia partners with financial services software company ACHQ Inc. (ACHQ), 
      to offer you electronic fund transfers (EFTs). When you create a Matbia
      account, link a bank account, or initiate <br />
      an EFT, you are authorizing us to share your identity and banking information <br />
      with ACHQ to support your account. You are also agreeing to the <br />
      terms of ACHQ’s privacy policy,

      <a href="https://achq.com/privacy/" target="_blank" rel="noopener noreferrer"
        >https://achq.com/privacy/</a
      > 
      <br/>

      It is your responsibility to make sure the data you provide us is accurate and <br />

      complete, which is necessary for our partners to process EFTs on your behalf. <br />

      The Partner Terms may be modified from time to time, and the governing versions <br />

      are incorporated by reference into this Privacy Policy. Any term not defined in <br />

      this section but defined in the Partner Terms assumes the meaning as defined in the Partner Terms. <br />
      IT IS YOUR RESPONSIBILITY TO READ AND UNDERSTAND THE PARTNER <br />

      TERMS BECAUSE THEY CONTAIN TERMS AND CONDITIONS CONCERNING YOUR MATBIA ACCOUNT, INCLUDING BUT NOT LIMITED TO USE
      <br />

      OF YOUR PERSONAL INFORMATION.
    </p>

    <h4>Changes</h4>

    <p>
      We may update this privacy policy from time to time to reflect, for example, changes to our practices or for other
      operational, legal, or regulatory reasons.
    </p>

    <h4>Contact Us</h4>

    <p>
      For more information about our privacy practices, if you have questions, or if you would like to make a complaint,
      please contact us by e-mail at <a href="mailto:info@matbia.com">info&#64;matbia.com</a> or by calling us at:
      877-762-8242.
    </p>
  </div>
</div>
