<?xml version="1.0"?>
<!-- Download URL Rewrite module from https://www.iis.net/downloads/microsoft/url-rewrite and then deploy to IIS -->
<configuration>
<system.webServer>  
<staticContent>
<!-- <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" /> -->
<remove fileExtension=".woff" />
<remove fileExtension=".woff2" />
<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
</staticContent>
    <rewrite>
      <rules>
       <rule name="Redirect to .org" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^matbia\.com$" />
          </conditions>
          <action type="Redirect" url="http://matbia.org/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" /> -->
          </conditions>
          <!-- Change url according to IIS Folder/website name -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
  </rewrite>
 </system.webServer>
</configuration>