<div class="middle-content">
  <div class="container mt-5">
    <img src="assets/dist/img/logo.svg" alt="" height="31" />

    <h3 class="text-center">Matbia Charities Program Policies</h3>

    <p>Updated July 13,</p>
    <p>2021 Understanding the donor-advised fund account provided by Matbia Charities.</p>

    <h4>Getting Started</h4>

    <p>
      Matbia account holders are required to attest that they understand and agree to the terms of Matbia Charities
      Program Policies and any updates thereof.
    </p>

    <p>For any questions about the terms and policies contact Matbia at:</p>
    <p>877-762-8242</p>
    <p>Or email: <a href="mailto:info@matbia.com">info&#64;matbia.com</a></p>

    <h4>Opening An Account</h4>

    <p>
      Opening a Matbia DAF (Donor Advised Fund) account is easy, in most cases it just requires filling out an online
      application. To be eligible to open an account the account holder must be at least 18 years old, have a Social
      Security Number, and a permanent U.S.A address.
    </p>

    <p>The online application form can be found at <a href="#" [routerLink]="['/signup']">Apply</a></p>

    <p>
      Follow all instructions carefully during the application process. For security reasons applicants may be required
      to provide additional personal information and document their identity to complete the process.
    </p>

    <p>Matbia DAF accounts can be opened by a business entity.</p>

    <p>
      After successfully opening a Matbia account the account holder can access their account at
      <a href="#" [routerLink]="['/auth/login']">login</a>
      where they can:
    </p>

    <ul>
      <li>View Balances</li>

      <li>Contribute to their account</li>

      <li>Recommend grants to eligible charities.</li>

      <li>Review account transaction history</li>
    </ul>

    <h4>About the Donor Advised Fund</h4>

    <p>
      Donor Advised Funds are a terrific vehicle for charitable donations that allow the donor to make recommendations
      about how the charitable funds will be directed. There are some important considerations to keep in mind:
    </p>

    <ol>
      <li>
        As per IRS Code 1986, Donations to the DAF are irrevocable and unconditional. Once a donation has been made to
        the fund, the fund takes complete ownership of the donation, and there is no way to withdraw the funds.
      </li>

      <li>
        Matbia DAF provides a unique and very convenient method to make fund recommendations, but it is important to
        know that Matbia is under no obligation to follow those recommendations and all donations are made according to
        the guidelines and at the discretion of the fund.
      </li>

      <li>
        Matbia allows recommendations to a selection of prequalified eligible charities. All the organizations included
        by Matbia have undergone a rigorous registration process and are registered charities. Recommendations can only
        be directed to eligible organizations, and only for the designated purpose.
      </li>
    </ol>

    <h4>How to Contribute</h4>

    <p>
      After opening a Matbia account, contributing is as easy as making a deposit. Matbia accounts are held at Evolve
      Bank & Trust, an FDIC member bank. Contributions are made by depositing money into the account holder’s DAF
      account.
    </p>

    <p>
      After funding a contribution into a Matbia account, the account holder can exchange their DAF currency into
      SilaMoney in a linked and dedicated Sila account that is opened up during the sign-up process. SilaMoney is the
      vehicle used for indicating charitable contributions to registered organizations within the Matbia environment.
      SilaMoney transfers are frictionless; there are no transaction charges to the donor or to the receiving
      organization. Because the transactions are carried out inside the Matbia ecosystem the recommendations can be made
      and carried out electronically using a secure and efficient transfer.
    </p>

    <p>
      Account holders can check their account balances online at any time on the Matbia website to view their US dollar
      funds inside their DAF account and their SilaMoney funds within their linked account. Account holders are free to
      transfer money back and forth between their Evolve Bank & Trust account and their SilaMoney account, but the DAF
      does not allow withdrawals.
    </p>

    <p>
      At this time contributions can only be accepted in the form of USD. Contributions can be made via personal check,
      bank check, or ACH transfer. Credit cards are not accepted.
    </p>

    <h4>
      Donors Have No Interest in Contributions After They Are Accepted and Cannot Control the Liquidation of
      Contributions
    </h4>

    <p>
      After accepting a contribution, the Trustees of Matbia have exclusive ownership and control over the contributed
      asset and may liquidate any donation in the manner and at a time selected at its sole discretion. Contributions to
      Matbia cannot be subject to any restriction or condition, including without limitation, as follows:
    </p>

    <ul>
      <li>
        That You or any Account Holder or donor reserves a right to control or direct the liquidation of any contributed
        asset.
      </li>

      <li>
        That the contributed assets be retained for any length of time prior to liquidation, including that the
        contributed assets are not liquidated immediately.
      </li>

      <li>That the contributed assets be liquidated in any particular manner or sequence.</li>
    </ul>

    <p>
      If you attempt to communicate a condition or restriction with respect to the liquidation of any contributed asset,
      or purport to advise Matbia regarding any aspect of the liquidation of any non-cash contributed asset, including
      the timing and manner of such liquidation, you hereby acknowledge that such communication is of no effect, is not
      legally enforceable, and may be disregarded by Matbia in its sole discretion without further communication or
      acknowledgement.
    </p>

    <p>Matbia reserves the right to reject any contribution without having to provide justification.</p>

    <h4>Electronic Fund Transfers (“EFTs”) and Account Balances.</h4>

    <p>
      By creating a Matbia Account and initiating bank deposits or withdrawals (i.e., EFTs), you agree to the Terms of
      Service and Privacy Policy of our financial software provider, Sila Inc. located at
      <a href="https://silamoney.com/terms-of-service/" target="_blank" rel="noopener noreferrer"
        >https://silamoney.com/terms-of-service/</a
      >
      (together, the “Sila ToS”). You must comply with the Sila ToS when creating or using your Matbia Account. The Sila
      ToS may be modified from time to time, and the governing version is incorporated by reference into these Terms of
      Service. Any term not defined in this Program Polices but defined in the Sila ToS assumes the meaning as defined
      in the Sila ToS. IT IS YOUR RESPONSIBILITY TO READ AND UNDERSTAND THE SILA ToS BECAUSE IT CONTAINS TERMS AND
      CONDITIONS CONCERNING YOUR MATBIA ACCOUNT, INCLUDING BUT NOT LIMITED TO LIMITATIONS, REVERSAL, AND ARBITRATION
      PROVISIONS, AND YOUR RELEVANT RIGHTS AND LIABILITIES.
    </p>

    <h4>Contributions are irrevocable and subject to approval</h4>

    <p>
      All contributions are subject to review and approval by the Trustees. The Trustees reserve the right, in their
      sole discretion and for any reason, not to accept any contribution. Staff may review contributions on behalf of
      and at the direction of the Trustees. Please note that although Matbia may have received and/or taken possession
      of a contribution, it is not accepted until deemed so by the Trustees. Matbia performs the requisite due diligence
      on contributions and may choose to decline a contribution upon completion of its due diligence. If Matbia
      determines that it will not accept a contribution, the property will be returned to the donor as soon as possible.
      Once Matbia accepts a contribution, it is irrevocable and is owned and controlled by the Trustees. The Trustees
      have exclusive legal control over all contributed assets. Contributions to Matbia are not refundable.
    </p>

    <h4>Contribution process and timing</h4>

    <p>
      Donors should allow for sufficient time, especially at end of year, to allow for contribution acceptance. For
      example, it cannot be assumed that a contribution made at 11:55 p.m. on December 31 will, in fact, be accepted.
    </p>

    <p>
      Some contributions may be made entirely online, while others require a signed Contribution Form and an attached
      Letter of Instruction for processing. Contact a Matbia representative for further instructions.
    </p>

    <h4>Confirmations of contributions</h4>

    <p>
      Matbia will send confirmation of each contribution to the contributing party as required by law. Our confirmation
      will detail the security name, number of shares, proceeds from the sale of the stock, an estimated fair market
      value for publicly traded securities, and the number of investment pool units purchased. Confirmations should be
      read carefully. Any error must be reported within 60 days of receipt to Matbia.
    </p>

    <p>
      Primary Account Holders (and Primary Giving Account Contacts, in the case of organizational Giving Accounts) will
      receive notification of third-party contributions; however, such notification is not a tax receipt, and under
      federal income tax rules, Account Holders generally are not entitled to claim a deduction for charitable
      contributions made by third parties.
    </p>

    <p>
      If Matbia accepts a contribution of non–publicly traded assets, Matbia will acknowledge receipt of the assets, but
      will not provide or agree to any valuation of such assets. If you are considering a contribution of non–publicly
      traded assets, you should consult your tax advisor to ensure compliance with IRS requirements, which may include
      obtaining a qualified independent appraisal, and reporting such valuation to the IRS on IRS Form 8283.
    </p>

    <p>
      Contribution confirmations serve as donors’ receipts. Since the IRS requires taxpayers to substantiate the
      charitable deductions they claim, donors should keep these confirmations with tax records for the year in which
      the contribution was made. Any fair market value computation reported on a confirmation is a good faith estimate
      on the part of Matbia, provided as a courtesy. Donors are responsible for the value they claim as a deduction on
      their tax returns. Before claiming any tax deduction, donors should consult their tax advisor.
    </p>

    <h4>Tax forms</h4>

    <p>
      For donors who contribute at least $500 in publicly traded securities, Matbia will provide as a courtesy an IRS
      Form 8283 showing an estimate of the fair market value of the contribution(s). However, donors are ultimately
      responsible for ensuring that the information they file with their tax returns, including the information on Form
      8283, is complete and accurate. The IRS requires taxpayers to complete and file a Form 8283 with their federal
      income tax return for gifts of property (including publicly traded and other securities, as well as non–publicly
      traded assets) valued at $500 or more.
    </p>

    <h4>Grantmaking</h4>

    <h5>How Matbia Makes It Easy to Make a Recommendation</h5>

    <p>
      Matbia provides an especially convenient method of making a charitable recommendation. Using the Matbia App, or
      the online portal, or with any participating organization it is easy to recommend a gift. Matbia only allows
      donations to organizations who are registered within the Matbia network. Matbia is in the process of constantly
      adding new organizations and broadening the opportunities for giving within the network. The fact that Matbia
      restricts donations to within the network is precisely the reason why making the recommendations are so easy and
      convenient. Donations are accomplished by transferring SilaMoney from the donor’s account to the organization’s
      account, which can be turned into USD later.
    </p>

    <p>
      Because the transaction process of recommending grants is so smooth the minimum grant recommendation size is the
      incredibly low value of $0.25. That is a flexibility that is unheard of in the world of donor advised giving.
    </p>

    <h5>Recommending a grant</h5>

    <p>Matbia Charities retains final authority over the distribution of grants.</p>

    <p>
      Account Holders and certain authorized advisors or third-party individuals have grant recommendation privileges.
      Grants may be recommended to Qualified Charitable Organizations in the Matbia Network Recommendations may be made
      online, by phone, or by submitting a completed Grant Recommendation Form. Grant recommendations are not binding
      and are subject to review and approval by the Trustees in their sole discretion. The Trustees have adopted
      procedures and safeguards with respect to grantmaking to ensure that funds are used exclusively in furtherance of
      charitable purposes.
    </p>

    <p>If the grant recommendation is not approved, Matbia will notify the Primary Account Holder.</p>

    <h5>Eligible grant recipients: Qualified Charitable Organizations</h5>

    <p>Grants can be made only to Qualified Charitable Organizations. These are organizations that are either:</p>

    <ul>
      <li>
        tax-exempt under section 501(c)(3) of the Code and classified as public charities under section 509(a)(1),
        (a)(2), or (a)(3) of the Code (except certain supporting organizations);
      </li>

      <li>classified as private operating foundations under section 4942(j)(3) of the Code; or</li>

      <li>units of government described in section 170(c)(1) of the Code.</li>
    </ul>

    <p>
      For eligibility for grants in using the Matbia platform, these Qualified Charitable Organizations must also
      register with the Matbia network and maintain a Matbia Grantee account.
    </p>

    <p>
      Qualified Charitable Organizations include the full range of charitable organizations, including scientific,
      religious, environmental, and arts and cultural organizations.
    </p>

    <h5>Ineligible grant recipients</h5>

    <p>
      <em>Non-charitable organizations:</em> non-charitable organizations, such as tax-exempt organizations described in
      section 501(c) other than 501(c)(3), or for-profit companies, are not eligible to receive grants from Matbia.
    </p>

    <p>
      <em>Private foundations:</em> Private foundations are not eligible to receive grants from Matbia (except for those
      in a special classification of foundations —private operating foundation — as noted above).
    </p>

    <p>
      <em>Non-functionally Integrated Type III Supporting Organizations:</em> Type III supporting organizations that are
      not “functionally integrated” are not eligible to receive grants from Matbia. Supporting organizations are public
      charities described in sections 501(c)(3) and 509(a)(3) of the Code, which are organized and operated exclusively
      for the benefit of specified public charities. Supporting organizations are public charities specifically defined
      by the type of relationship they have with their publicly supported organizations. Section 4943(f)(5)(A) of the
      Code describes “Type III” supporting organizations. Type III supporting organizations that are “not functionally
      integrated” are those other than Type III supporting organizations described in section 4943(f)(5)(B) of the Code.
    </p>

    <p>
      <em> Governmental instrumentalities: </em> Government-related organizations that do not qualify as units of
      government described in section 170(c)(1) are not eligible to receive grants from Matbia.
    </p>

    <p>
      <em>Testing for public safety organizations:</em> Testing for public safety organizations described in section
      509(a)(4) of the Code are not eligible to receive grants from Matbia.
    </p>

    <p>
      <em> Non-U.S. charities: </em> Matbia does not generally make grants to non-U.S. charitable organizations
      (organizations not formed under the laws of the United States and its territories). Donors in the Private Donor
      Group or Corporate Giving Accounts should contact their relationship manager for more information.
    </p>

    <p>
      Matbia may, however, make grants to U.S. public charities that carry on or provide funding for charitable
      activities outside the United States. As with all grant recommendations, these grants are subject to review and
      approval by the Trustees in their sole discretion. The Trustees have adopted procedures and safeguards with
      respect to grantmaking to ensure that funds are used exclusively in furtherance of charitable purposes. With
      respect to grant recommendations to U.S. public charities that undertake to fund non-U.S. charitable activities,
      Matbia must verify the U.S. public charity. Such grant recommendations are subject to the policies of the
      recipient U.S. public charity, including any additional fees and grant minimums that may apply.
    </p>

    <h4>Grant guidelines</h4>

    <p>
      Matbia approves only those grants that are used exclusively in furtherance of charitable purposes. In accordance
      with that policy, Matbia reserves the right to perform additional due diligence and to decline to make a
      recommended grant to a charitable organization, including, without limitation:
    </p>

    <ol>
      <li>
        when the grant will confer a more than incidental benefit on an Account Holder, other person with grant
        recommendation privileges, or other third party;
      </li>

      <li>
        when the grant will be used for lobbying, for political contributions, or to support political campaign
        activities;
      </li>

      <li>when the grant will be used for improper purposes;</li>

      <li>when the Account Holder and related persons control the organization;</li>

      <li>when Matbia provides a substantial portion of the organization’s public support;</li>

      <li>
        when the organization’s governing board is composed entirely of related parties, or consists of fewer than three
        individuals; and
      </li>

      <li>for other reasons in accordance with Matbia policies.</li>
    </ol>

    <p>
      Remedial actions may include but are not limited to requiring that the grant be returned or that the Account
      Holder make an additional nondeductible contribution.
    </p>

    <h5>More than incidental benefit and financial obligations (“enforceable pledges”)</h5>

    <p>
      Matbia makes grants <em>exclusively</em> for charitable purposes. Grants cannot be made that provide “more than
      incidental benefits” to a donor, other Account Holders, their families, or other third parties. Mere donor
      recognition, however, is generally permissible in return for a grant recommendation.
    </p>

    <p>Examples of benefits that may be considered more than incidental include:</p>

    <ul>
      <li>
        The purchase of a ticket to attend a charitable event, or to cover the tax-deductible portion of a ticket to a
        charitable event. Donors must pay out of pocket for the full cost to attend an event.
      </li>

      <li>
        Goods or services provided by the grant recipient charity, unless the items are deemed by the charity to be of
        de minimis value according to IRS rules, such as a logo-bearing keychain, coffee mug, or calendar.
      </li>

      <li>Raffle tickets or goods or services bought at a charitable auction.</li>

      <li>
        Membership benefits if any portion of the membership fee is not tax deductible (unless the Account Holder waives
        all benefits).
      </li>

      <li>
        Benefits in connection with athletic funds (such as when the Account Holder is eligible to receive benefits like
        preferred seating at sporting events). The full price required to receive these benefits must be paid out of
        pocket and sepa­rately from any Matbia grants.
      </li>

      <li>
        A grant that would relieve an Account Holder or related party from a legally binding financial obligation, such
        as an enforceable pledge. An Account Holder may, however, recommend a grant in support of an intention (pledge)
        that is not legally binding.
      </li>

      <li>
        Support for an Account Holder’s own fundraising commitment, such as a walk, bike ride, or run, unless the full
        obligation has been satisfied.
      </li>

      <li>
        School tuition and other required fees, such as enrollment fees and deposits. This includes fundraising
        obligations set by the school that will be billed as tuition if not met.
      </li>

      <li>
        Scholarships when the Account Holder and/or related persons have sole or majority discretion regarding the
        recipients.
      </li>
    </ul>

    <p>Other examples of grants that will not be made:</p>
    <ul>
      <li>
        The grant will be used for lobbying, for political contributions, or to support political campaign activities.
      </li>

      <li>The grant will be used for other improper purposes.</li>

      <li>For other reasons, in accordance with Matbia policies.</li>
    </ul>

    <p>
      While every effort will be made to approve recommended grants, please be advised that our Trustees have the right
      to decline any grant recommendation.
    </p>

    <h5>Special purpose designation</h5>

    <p>
      An Account Holder may recommend that a grant be used by the charitable organization for a “special purpose,” such
      as a building fund, research project, or in honor of a person. Matbia will review the grant recommendation,
      including the special purpose, and, if approved, will convey to the charitable organization the recommended
      special purpose. Matbia reserves the right to modify the special purpose as Matbia deems necessary.
    </p>

    <p>Donor acknowledgment and anonymous grants</p>
    <p>When recommending a grant, an Account Holder may generally choose:</p>

    <ol>
      <li>
        to be identified by name and address, and Giving Account name (e.g., “The Smith Family Charitable Fund”) to the
        recipient charity;
      </li>

      <li>to be identified only by the name of the Giving Account; or</li>

      <li>
        to remain anonymous and to not be identified, in which case the grant will be identified as recommended by a
        Matbia Account Holder who wishes to remain anonymous.
      </li>
    </ol>

    <p>
      Matbia may in its judgment choose to limit anonymity. However, Matbia will not release the Account Holder’s name
      and contact information to any recipient charity without the Account Holder’s explicit consent.
    </p>

    <h5>Minimum Matbia grant activity</h5>

    <p>
      Historically, Matbia has made grants of about 20% of average net total assets to charities each year. Matbia
      policy requires that minimum annual grants, on an overall basis, be greater than 5% of average net assets on a
      fiscal five-year rolling basis. If this requirement is not met in a fiscal year, Matbia will ask for grant
      recommendations from Giving Accounts that have not had grant activity of at least 5% of the Giving Account’s
      average net assets over the same five-year period. If Account Holders on these Giving Accounts do not make grant
      recommendations within 60 days, Matbia will grant the required amounts out in accordance with the Matbia Trustees’
      Initiative (described on page 28), in its sole discretion
    </p>

    <h5>Minimum Giving Account grant activity</h5>

    <p>
      Active charitable grantmaking is required for every Giving Account. If no grants are distributed from a Giving
      Account for one year, Matbia will make every effort to contact the Account Holder to encourage grant
      recommendations from the Giving Account. After two years in which no grants are distributed from a Giving Account,
      Matbia will make grants from the Giving Account to Qualified Charitable Organizations approved by the Trustees of
      Matbia.
    </p>

    <h5>Fees and Expenses</h5>

    <p>Matbia charges a 1.25% administrative fee on all contributions. There are no transaction fees.</p>

    <h5>Taxes</h5>

    <p>
      Matbia DAF is a registered 501(c)(3) charity and all donations to the DAF account carry the tax advantages of
      donating to a registered charity. Matbia recommends that account holders consult with a qualified tax advisor
      and/or legal counsel to review the tax implications of their proposed contributions.
    </p>

    <h5>Additional Guidelines for the Donor Advised Fund</h5>

    <ul>
      <li>
        If an account holder fails to comply with the platform guidelines, under some circumstances the account holder’s
        privileges may be suspended or revoked. In that circumstance the account’s assets may be distributed to charity
        in a manner that is consistent with previous donations.
      </li>

      <li>
        Matbia may freeze an account subject to court orders or for other legal reasons as required by Federal and State
        laws.
      </li>

      <li>
        Matbia communication guidelines. All account balances and activity are available for account holders online.
        Upon request statements can be delivered quarterly with detailed account activity and grant award information.
      </li>

      <li>
        Due to significant regulatory and administrative complexities, account holders may not solicit third-party
        contributions to their accounts. Fundraising is not permitted to a Matbia account.
      </li>
    </ul>

    <h4>Successor Options</h4>

    <p>
      Matbia offers two distinct successor options to allow individual Account Holders to continue their charitable
      legacies beyond their lifetimes — Individual Successor(s) and Charitable Organization Successor(s). Individual
      Account Holders can elect one successor option or any combination of the three. Because successor plans are
      implemented at the death of the last remaining Account Holder, successor options are not available for
      organizational Giving Accounts, including Corporate Giving Accounts, as the Account Holder is generally a legal
      entity with perpetual existence, and is not an individual.
    </p>

    <p>
      Matbia recommends that Account Holders regularly review successor information to ensure that it remains consistent
      with their wishes and to verify that contact information is still current. Successor election(s) and
      recommendations can be changed by any Account Holder at any time before the death of the last remaining Account
      Holder.
    </p>

    <p>
      If no successor election is made, upon notification of the death of the last remaining Account Holder, the funds
      will be granted out in accordance with the Matbia Trustees’ Initiative.
    </p>

    <p>
      <em> Please note: </em> Account Holders must recommend successors directly to Matbia during their lifetime.
      Account Holders may not do so through any testamentary instrument, including through their will or instructions to
      an executor, and Account Holders may not name their estate as a successor. Further, in accordance with the Matbia
      Privacy Policy, no unauthorized party, including an executor, may access or receive a deceased Account Holder’s
      personal information or transaction history with respect to the Account Holder’s Giving Account.
    </p>

    <p>
      The following pages provide detailed information about both the Individual and Charitable Organization successor
      options and an in-depth outline of the Endowed Giving Program.
    </p>

    <h5>Option 1: Naming an Individual Successor</h5>

    <p>
      Account Holders may name one or more individual(s) who will assume all Giving Account privileges (such as making
      grant recommendations) upon the death of the last remaining Account Holder. Subsequently, upon assuming Giving
      Account privileges, the successor(s) may name their own successor(s) on a newly opened Giving Account, essentially
      passing a charitable legacy from one generation to the next.
    </p>

    <p>
      Account Holders may name any individual(s), including a spouse, child, other descendant, heir, or representative.
      If the Giving Account has multiple Account Holders, succession applies only after the death of all the Account
      Holders. Therefore, if one Account Holder dies, the remaining Account Holder(s) retains all privileges to
      recommend grants and name successors. Upon the last remaining Account Holder’s death, the Trustees must be
      provided with written notification and proof of the Account Holder’s death. A new Giving Account will be
      established for everyone named as a successor. In accordance with the Matbia Privacy Policy, individual successors
      may not access or receive a deceased Account Holder’s personal information or transaction history with respect to
      the Account Holder’s Giving Account.
    </p>

    <p>
      If an Account Holder has named multiple successors, the new Giving Accounts will be funded equally from the
      remaining Giving Account funds at death unless otherwise specified. Upon assuming Giving Account privileges, the
      successor(s) will be asked to recommend his or her own successors. As an alternative to establishing a new Giving
      Account, successors may recommend grants equal to the allocated funds within 90 days. If a successor fails to
      respond to the notification within 90 days, the funds will be granted out in accordance with the Matbia Trustees’
      Initiative. If the successor(s) is a minor, Matbia will require that the grant recommendations be made in
      conjunction with a legal guardian.
    </p>

    <h5>Option 2: Recommending a Charitable Organization Successor</h5>

    <p>
      Account Holders can recommend one or more Qualified Charitable Organizations to receive the assets of the Giving
      Account. Upon the death of the last remaining Account Holder, and subject to approval by Matbia, any eligible
      grant recipient organization(s) will receive the remaining Giving Account funds. If an organization is not an
      eligible grant recipient, the Giving Account funds will be reallocated among the eligible grant recipients.
    </p>

    <p>
      When Account Holders recommend one or more Qualified Charitable Organizations as successors, the recommended
      organizations are subject to review and approval by the Trustees. Once Matbia is notified of the death of the last
      remaining Account Holder, the recommended organization(s) will receive the funds of the Giving Account, provided
      the organization(s) continues to be an eligible grant recipient. If, at the time of death of the last remaining
      Account Holder, the organization is no longer an eligible grant recipient, the portion of the Giving Account
      designated for that organization will be distributed proportionately among any other qualified successors, or, if
      no other successor is named, will be granted out in accordance with the Matbia Trustees’ Initiative.
    </p>

    <h4>Service Providers</h4>

    <p>
      The Trustees have contracted with Matbia Services, a For Profit Corporation, and affiliated companies to provide
      various administrative services to Matbia. Under the agreement, Matbia pays a fee to Matbia Services of 0.75% of
      all deposits by donors and 1.25% of withdraws by non-for-profit organizations, for a broad range of recordkeeping,
      fundraising, administrative, and other services. In addition, under the agreement, Matbia reimburses Matbia
      Services for certain other fees and expenses in connection with contributed property.
    </p>

    <p>
      Services are provided by various divisions or subsidiaries of Matbia Services, including but not limited to Sila
      Inc.
    </p>

    <h4>Agreement to Arbitrate</h4>

    <p>
      You and Matbia agree that any dispute, claim or controversy arising out of or relating in any way to these Terms
      and Conditions or any contribution to, or grant from a Giving Account with Matbia (a “Claim”) will be determined
      by binding arbitration, except that either of us can seek to have a Claim resolved in small claims court if all
      the requirements of the small claims court are satisfied, including any limitations on jurisdiction and the amount
      at issue in the dispute, and the Notice of Claim and Informal Resolution requirements, as defined below, have been
      met. Any such small claims action must take place either in Your county of residence or in Brooklyn, NY.
    </p>

    <p>
      Arbitration. Arbitration is more informal than a lawsuit in court. Arbitration uses one a neutral arbitrator
      instead of a judge and/or jury, allows for more limited discovery than in court, and is subject to very limited
      review by courts. Arbitrators can award the same damages and relief that a court can award. You agree that the
      U.S. Federal Arbitration Act governs the interpretation and enforcement of this arbitration provision, and that
      You and Matbia are each waiving the right to a trial by jury or to participate in a class action. This arbitration
      provision shall survive termination of these Terms and Conditions.
    </p>

    <p>
      Notice of Claim. If You intend to seek arbitration or a small claims action, you must first send to Matbia, by
      certified mail, a written Notice of Your Claim (“Notice of Claim”).
    </p>

    <p>
      The Notice of Claim should include both the mailing address and email address you would like Matbia to use to
      contact you. If Matbia intends to seek arbitration or a small claims action, it will send, by certified mail, a
      written Notice of Claim to Your address on file. A Notice of Claim, whether sent by You or by Matbia, must (a)
      describe the nature and basis of the claim or dispute; and (b) set forth the specific amount of damages or other
      relief sought (“Demand”).
    </p>

    <p>
      Informal Resolution. You and Matbia agree that good-faith informal efforts to resolve disputes often can result in
      a prompt, low-cost and mutually beneficial outcome. You and Matbia therefore agree that, before either You or
      Matbia commences an arbitration or small claims action against the other, we will personally meet and confer, via
      telephone or videoconference, in a good-faith effort to resolve informally any Claim. If You are represented by
      counsel, your counsel may participate in the conference, but You shall also fully participate in the conference.
      The statute of limitations and any filing fee deadlines shall be tolled while the parties engage in the informal
      dispute resolution process required by this paragraph.
    </p>

    <p>
      Arbitration Proceedings. If we do not reach an agreement to resolve the Claim within sixty (60) days after the
      Notice of Claim is received, You or Matbia may commence an arbitration proceeding with the American Arbitration
      Association (“AAA”) after the expiration of this sixty (60) day period. You may download or copy a form of notice
      and a form to initiate arbitration at www.adr.org or by calling 1-800-778-7879. The arbitration will be conducted
      by the AAA before a single AAA arbitrator under the AAA’s rules, which are available at www.adr.org or by calling
      1-800-778-7879, except as modified by these Terms and Conditions. The arbitrator is bound by these Terms and
      Conditions. The arbitrator shall decide all issues relating to the scope and enforceability of this arbitration
      provision. The parties agree that a preliminary conference shall be conducted in each arbitration proceed­ing, and
      You and a Matbia representative shall appear at the preliminary conference. If either party fails to appear at the
      preliminary conference, the arbitra­tor shall summarily determine the merits of the case in favor of the appearing
      party. If both parties fail to appear at the preliminary conference, the arbitrator shall summarily dismiss the
      arbitration without prejudice in favor of either party. Unless Matbia and You agree otherwise, any arbitration
      hearings will take place virtually or in the county (or parish) of either Your residence or of the mailing address
      You provided in Your Notice of Claim, or Brooklyn, NY. The arbitrator shall issue a reasoned written decision
      sufficient to explain the essential findings and conclusions on which the award is based. The award shall be
      binding only among the parties and shall have no preclusive effect in any other arbitration or other proceeding
      involving a different party. Matbia will not seek to recover its attorneys’ fees and costs in arbitration.
    </p>

    <h5>Entire Agreement</h5>

    <p>
      These Terms and Conditions set forth the entire agreement between You and Matbia. These Terms and Conditions fully
      supersede any prior agreements or understandings between You and Matbia. You acknowledge that neither You nor
      anyone acting on Your behalf has relied on any representations, promises, or agreements of any kind made to them
      in connection with the decision to an account with Matbia or contribute to an existing account, except for those
      set forth in these Terms and Conditions.
    </p>
  </div>
</div>
