<div class="middle-content cms-page-content">
  <div class="container">
    <h3>Legal and Terms of Service</h3>

    <p>
      “Matbia” is the brand name for the Matbia, Inc. Charitable Gift Fund, an independent public charity with a
      donor-advised fund program. Various Matbia affiliated companies provide investment management and administrative
      services to Matbia. GuideStar is a registered service/trademark of Philanthropic Research, Inc. "Adobe" and
      "Acrobat Reader" are registered trademarks of Adobe Systems Incorporated in the United States and/or other
      countries. Apple Podcasts® are trademarks of Apple Inc., registered in the U.S. and other countries.
    </p>

    <p>
      Information provided is general and educational in nature. It is not intended to be, and should not be construed
      as, legal or tax advice. Matbia does not provide legal or tax advice. Content provided relates to taxation at the
      federal level only. Availability of certain federal income tax deductions may depend on whether an individual
      itemizes deductions. Rules and regulations regarding tax deductions for charitable giving vary at the state level,
      and laws of a specific state or laws relevant to a particular situation may affect the applicability, accuracy, or
      completeness of the information provided. Charitable contributions of capital gain property held for more than one
      year are usually deductible at fair market value. Deductions for capital gain property held for one year or less
      are usually limited to cost basis. Consult an attorney or tax advisor regarding specific legal or tax situations.
    </p>

    <h3>Copyright Policy, Linking Policy and Trademarks</h3>

    <p>
      Matbia web sites are protected by applicable copyright laws. Accordingly, you may not copy, distribute, modify,
      post or frame-in Matbia sites, including any text, graphics, video, audio, software code, user interface design or
      logos.
    </p>

    <p>
      Unless you and Matbia have agreed otherwise, links from another web site to the Matbia site must resolve to the
      top-level homepage of the Matbia domain (e.g.,www.matbia.org/home) In order to avoid confusion, if you do link
      from another web site to the Matbia top-level homepage, your web site, and the link itself, may not suggest that
      Matbia endorses, sponsors or is affiliated with any non-Matbia web site, entity, service or product, and may not
      make use of any Matbia trademarks or service marks other than those contained within the text of the link. Link
      may be introduced by the words Matbia is the brand name for the Matbia Charitable Gift Fund, an independent public
      charity with a donor-advised fund program. No other descriptions of Matbia or the Matbia web site may be used
      without the express written consent of Matbia
    </p>

    <h3>Required State Disclosure</h3>

    <p>
      Information concerning Matbia, including financial or charitable purposes, may be obtained, without cost, by
      writing to its principal place of business at the following address: <br />
      802 Myrtle Ave Unit #1, <br />Brooklyn, NY 11206 <br />
      or by calling <strong>877-762-8242</strong>. <br />In addition residents of the following states may obtain
      financial and/or licensing information from their states, as indicated. Registration with these states, or any
      other state, does not imply endorsement by the state.
    </p>

    <p>
      NY: <br />
      NYS Office of the Attorney General, <br />
      Charities Bureau Registration Section, <br />
      28 Liberty Street, <br />
      New York, NY 10005
    </p>

    <p>
      Matbia is the brand name for the Matbia Charitable Gift Fund, an independent public charity with a donor-advised
      fund program. Various Matbia related companies provide investment management and administrative services to the
      Matbia. The third-party marks appearing herein are the property of their respective owners.
    </p>
  </div>
</div>
