<div class="page-wrapper bg-light page-signin">
  <div class="login--form m-auto flex-column vh-100 d-flex align-items-center">
    <h1 class="login-heading">Login</h1>
    <div class="card--custom m-auto w-100">
      <ng-container *ngIf="tmpName === 'showForgotPassword'">
        <ng-template [ngTemplateOutlet]="showForgotPasswordTmp"></ng-template>
      </ng-container>

      <ng-container *ngIf="tmpName === 'sendResetLink'">
        <ng-template [ngTemplateOutlet]="sendResetLinkTmp"></ng-template>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #showForgotPasswordTmp>
  <div class="forgot-reset" id="forgot-reset">
    <div class="inside-forgot">
      <p>Enter your email and a reset link will be sent to you</p>
      <div class="forgot-field mt-3">
        <span class="material-icons">email</span>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="txtForgotEmail"
          #forgotEmail="ngModel"
          name="forgotEmail"
          required
          #forgotEmailInput
        />
        <div class="login-action reset-pass-btn">
          <button class="btn-primary mt-3 mb-2" (click)="sendResetLink()">
            <span *ngIf="!isLoading">Send Reset Link</span>
          </button>
          <div class="loader" *ngIf="isLoading">
            <img src="assets/dist/img/rolling-loader.svg" alt="" />
          </div>
        </div>
        <div class="create-account d-flex flex-column align-items-center">
          <p>
            Back to <a href="#" (click)="backToSignIn($event)" class="signup-without-email text-capitalize"> Sign in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sendResetLinkTmp>
  <div class="forgot-reset" id="check-email">
    <div class="inside-forgot">
      <h3>Check Your<span> Mail</span></h3>
      <p>We have sent a password recover instruction to your email.</p>
      <div class="forgot-field">
        <button class="btn-primary mt-2 mb-2" (click)="openEmail()">Open Email</button>
        <div class="loader" *ngIf="isLoading">
          <img src="assets/dist/img/rolling-loader.svg" alt="" />
        </div>
        <span
          >Did no receive the email? Check your spam filter, or<a href="#" (click)="tryAnotherMail($event)">
            Try another email address</a
          ></span
        >
      </div>
    </div>
  </div>
</ng-template>
