<div class="donate-content--wrap small--container w-75 m-auto pt-5">
  <div class="top-head--section">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title--bar">Send Internal Transfer</div>
    </div>
  </div>
  <div class="send-money--panel mt-4">
    <div class="row">
      <div class="col-md-7 enter--amount">
        <div class="card--custom">
          <div class="form--group panel--title">
            <label class="form-check-label" for="">Enter Amount:</label>
            <input type="text" placeholder="$0.00" class="form-control" />
          </div>
          <div class="form--group d-flex justify-content-between align-items-center mt-3 mb-1">
            <label class="form-check-label" for="">Pay from:</label>
            <div class="select--wrap d-flex align-items-center">
              <div class="filter by-transaction">
                <button
                  class="btn select dropdown-toggle"
                  type="button"
                  id="transactionDrop"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Matbia (… 3678) &nbsp; $0.00
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionDrop">
                  <li>
                    <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Matbia (… 3678) &nbsp; $0.00</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 send--amount">
        <div class="card--custom h-100">
          <div class="panel--title d-flex justify-content-between">
            <h6>Send To:</h6>
            <div class="action--link">
              <a href="#" [routerLink]="getInternalTransferRouterLink()">Change</a>
            </div>
          </div>
          <div class="mt-4 d-flex align-items-center position-relative">
            <img [src]="profileIcon" class="me-3 rounded-circle" width="40" alt="" />
            <div class="name--title w-100">
              <h6>Moshe Greenbaum</h6>
              <a href="mailto:moshegreenbaum@gmail.com">moshegreenbaum&#64;gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card--custom recurring--section">
          <div class="row">
            <div class="col-md-6">
              <div class="recurring--label align-items-center">
                <!-- Default switch -->
                <div class="form-check toogle--btn">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                  <label class="form-check-label" for="flexSwitchCheckDefault">Recurring:</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form--group d-flex align-items-center">
                <div class="send-on_div">
                  <label>Send On:</label>
                  <input type="text" alt="" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div class="recurring--content mt-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form--group d-flex align-items-center">
                  <label>Frequency:</label>
                  <input type="text" alt="" class="form-control" />
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-start">
                <div class="form--group d-flex align-items-center">
                  <label>Count:</label>
                  <input type="text" value="8" class="form-control count--input" />
                </div>
                <div class="form--group form-check ms-4 mt-2">
                  <input type="radio" class="form-check-input" alt="" />
                  <label class="form-check-label">Always</label>
                </div>
              </div>
            </div>
            <hr class="mt-4" />
            <div class="row">
              <div class="col-md-5 alert--colm">
                <div class="panel--title">
                  <h6>Send alert one day before charge:</h6>
                </div>
                <div class="form--group form-check custom--checbox">
                  <input type="radio" class="form-check-input" alt="" />
                  <label class="form-check-label">Email</label>
                </div>
                <div class="form--group form-check">
                  <input type="radio" class="form-check-input" alt="" />
                  <label class="form-check-label">Text Message</label>
                </div>
              </div>
              <div class="col-md-7 schedule--colm ps-4">
                <div class="panel--title">
                  <h6>Preview Schedule</h6>
                </div>

                <div class="tbl-list--wrap">
                  <div class="tbl-list--item mt-1 d-flex">
                    <div class="col col-md-5">
                      <div class="price--text">$30.00</div>
                    </div>
                    <div class="col col-md-7 text-end">
                      <div class="shedule--details">
                        <h5>ג’ בראשית, י”ב חשון תשפ”א</h5>
                        <p>Oct. 12 2021</p>
                      </div>
                    </div>
                  </div>
                  <div class="tbl-list--item d-flex">
                    <div class="col col-md-5">
                      <div class="price--text">$30.00</div>
                    </div>
                    <div class="col col-md-7 text-end">
                      <div class="shedule--details">
                        <h5>ג’ בראשית, י”ב חשון תשפ”א</h5>
                        <p>Oct. 12 2021</p>
                      </div>
                    </div>
                  </div>
                  <div class="tbl-list--item d-flex">
                    <div class="col col-md-5">
                      <div class="price--text">$30.00</div>
                    </div>
                    <div class="col col-md-7 text-end">
                      <div class="shedule--details">
                        <h5>ג’ בראשית, י”ב חשון תשפ”א</h5>
                        <p>Oct. 12 2021</p>
                      </div>
                    </div>
                  </div>
                  <div class="tbl-list--item d-flex">
                    <div class="col col-md-5">
                      <div class="price--text">$30.00</div>
                    </div>
                    <div class="col col-md-7 text-end">
                      <div class="shedule--details">
                        <h5>ג’ בראשית, י”ב חשון תשפ”א</h5>
                        <p>Oct. 12 2021</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action--buttons mt-4 mb-4">
          <button class="btn btn-primary w-100">Next</button>
          <button class="btn btn-plain w-100 mt-3">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
