<div class="faq-main">
  <div class="container">
    <div class="inside-faq">
      <h2>Frequently Asked Questions</h2>

      <div ngbAccordion [closeOthers]="true">
        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>Where can I get a Matbia card?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Request a card by signing up at the following link :
                <a href="https://matbia.org/signup">https://matbia.org/signup</a> and we’ll mail one out to you.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>
              <span>How much does it cost to use Matbia’s platform?</span>
            </button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template> Matbia is free for cardholders. </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>What are some of the legalities of using Matbia?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Matbia is a DAF (Donor-Advised Fund), which means that all funds held in Matbia are tax-exempt. You’ll
                receive a donation tax receipt via email for each amount transferred to Matbia.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>How can I add funds to my Matbia account?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                You can link your bank account in one of two ways: <br />
                1.With your bank username & password. <br />
                2.With your routing & account numbers.<br />
                Once your account is linked, add funds at any time.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>Can I use my business bank account?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Definitely! When signing up, please make sure that the name on your account matches the name on your
                bank account
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>Where can I donate with my Matbia card?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Use the Matbia portal to donate to any organization.<br />
                The card works with the Donary platform and Donary devices, including the Donary Mobile, Donary Pocket,
                event devices, phone system, and online donation page.<br />
                In the last few months we have worked with other charity platforms, credit card processors and gateways,
                to be able to accept Matbia cards.
                <div class="card-imgs">
                  <img src="assets/dist/img/card-img-new.png" alt="Card" />
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>
              After a transfer to Matbia’s portal, how long will it take for funds to be available in my account?
            </button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                If your bank is linked with a username and password, funds are available immediately.<br /><br />
                If your bank is linked with routing and accounting numbers, it will take 2-5 business days.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>Can I schedule funds to be deposited into my Matbia account?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Yes! In addition to making manual deposits into your account, you can set up auto-recurring transfers
                and a replenishment option when the account falls below a preset amount.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>How does a charity organization sign up?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Once a donation is made to an organization, they’ll receive an email prompting them to log into Matbia’s
                online portal. There, they can link a bank account to redeem funds.
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem class="card">
          <h2 ngbAccordionHeader class="card-header">
            <button ngbAccordionButton>How much does it cost an organization to use Matbia’s platform?</button>
          </h2>
          <div ngbAccordionCollapse class="card-body">
            <div ngbAccordionBody>
              <ng-template>
                Matbia charges each organization within the range of 2.2% - 2.9% of all donations, depending on the
                volume of contributions. (There are no transaction fees or any other hidden charges.)
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
