<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Confirm Charge</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
  </div>
  <div class="modal-body">
    <div class="modal-inner">
      <span class="small-head">We are processing a donation of</span>
      <h4>{{ amount | currency }}</h4>
      <span>From card ending {{ cardNum | displayLast }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button id="clickButton" type="button" class="btn btn-primary" (click)="onConfirmClick()">CONFIRM</button>
    <span class="small-foot"
      >By submitting you agree to our <a style="cursor: pointer" (click)="openTerms($event)">Term & Conditions</a></span
    >
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">Cancel</button>
  </div>
</div>
