<div class="middle-content">
  <div class="container">
    <div class="matbia-relase-updates">
      <h1>Matbia Release Updates</h1>
      <div class="matbia-release-note">
        <ul>
          <li>
            <span>Email_blast_2022_08_15.html</span>
          </li>
          <li>
            <span>Email_blast_2022_08_15.html</span>
          </li>
          <li>
            <span>Email_blast_2022_08_15.html</span>
          </li>
          <li>
            <span>Email_blast_2022_08_15.html</span>
          </li>
          <li>
            <span>Email_blast_2022_08_15.html</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
